<div class="container" style="padding-top: 6rem;">
    <h1>Tax Agencies API</h1>
    
    <div class="row">
        <div class="col-12 col-md-2">
            <button color="my-green-btn" matButton="filled" (click)="createApiKey()">CreateKey</button>
            <!-- <a matButton="filled" href="https://www.google.com/" target="_blank">Link</a> -->
        </div>

        <div class="col-12 col-md-2">
            <button color="my-green-btn" matButton="filled" (click)="getApiKey()">GetKey</button>
            <!-- <a matButton="filled" href="https://www.google.com/" target="_blank">Link</a> -->
        </div>

        <div class="col-12 col-md-2">
            <button color="my-green-btn" matButton="filled" (click)="getUsageStats()">GetStats</button>
            <!-- <a matButton="filled" href="https://www.google.com/" target="_blank">Link</a> -->
        </div>
        <div class="col-12 col-md-2">
            <button color="my-green-btn" matButton="filled" (click)="getStateNames()">StateNames</button>
            <!-- <a matButton="filled" href="https://www.google.com/" target="_blank">Link</a> -->
        </div>

        <div class="col-12 col-md-2">
            <button color="my-green-btn" matButton="filled" (click)="getCountiesByState('Florida')">CountiesByState</button>
            <!-- <a matButton="filled" href="https://www.google.com/" target="_blank">Link</a> -->
        </div>

        <div class="col-12 col-md-2">
            <button color="my-green-btn" matButton="filled" (click)="getCitiesByState('Florida')">CitiesByState</button>
            <!-- <a matButton="filled" href="https://www.google.com/" target="_blank">Link</a> -->
        </div>
    </div>

    @if (apiKey) {
        <p>Your API Key: {{ apiKey | json }}</p>
    }
    @if (stats) {
        <div>
          <pre>{{ stats | json }}</pre>
        </div>
    } 
    @if (!apiKey) {
        <pre>{{ createKey | json }}</pre>
    }

    @if (stateNames) {
        <pre>{{ stateNames | json }}</pre>
    }

    @if (countiesByState) {
        <pre>{{ countiesByState | json }}</pre>
    }
    @if (citiesByState) {
        <pre>{{ citiesByState | json }}</pre>
    }
</div>